@import url(normalize.css);

body
{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

h1{
    font-family: 'Marck Script', cursive;
}

h4{
  font-size: 1.4em;
  text-transform: uppercase;
}

p{
  font-size: 1.1em;
}